
.triangle {
    height: 100%;   
    width: 100%;
    position: absolute;
    z-index: 10;
}

.top-triangle {
    bottom: 50%;
    background-color: #e2f0e0;
    clip-path: polygon(50% 100%, 100% 50%, 0% 50%);
    animation: 1s ease-out 0s 1 shrinkFromTop;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
}

.left-triangle {
    right: 50%;
    background-color:#e0e4f0;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%);
    animation: 1s ease-out 0s 1 shrinkFromLeft;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.right-triangle {
    left: 50%;
    width: 50%;
    background-color: #e0e4f0;
    clip-path: polygon(0% 50%, 100% 0%, 100% 100%);
    animation: 1s ease-out 0s 1 shrinkFromRight;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

.bottom-triangle {
    top: 50%;
    height: 50%;
    background-color: #e2f0e0;
    clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
    animation: 1s ease-out 0s 1 shrinkFromBottom;
    animation-delay: 100ms;
    animation-fill-mode: forwards;
}

@keyframes shrinkFromTop {
    0% {
        top: -50%;
        height: 100%;
    }
    100% {
        top: 0%;
        height: 0%;
    }
}

@keyframes shrinkFromLeft {
    0% {
        left: -50%;
        width: 100%;
    }
    100% {
        left: 0%;
        width: 0%;
    }
}

@keyframes shrinkFromRight {
    0% {
        left: 50%;
        width: 50%;
    }
    100% {
        left: 100%;
        width: 0%;
    }
}

@keyframes shrinkFromBottom {
    0% {
        top: 50%;
        height: 50%
    }
    100% {
        top: 100%;
        height: 0%;
    }
}

.grid-top {
    grid-column: 1 / 4;
    grid-row: 1;
}

.grid-left {
    grid-column: 1 / 2;
    grid-row: 2;
}

.grid-center {
    grid-column: 2 / 3;
    grid-row: 2;
    z-index: 1;
}

.grid-right {
    grid-column: 3 / 4;
    grid-row: 2;
}

.grid-bottom {
    grid-column: 1 / 4;
    grid-row: 3;
}

.grid-right, .grid-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.grid-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.face {
    box-shadow: 0 0 8px 8px #F0FFF0 inset;
    position: relative;
    transform: scale(0.4);
    border-radius: 50%;
    background-blend-mode: screen;
}
