
.grid-top {
    grid-column: 1 / 4;
    grid-row: 1;
}

.grid-center {
    grid-column: 1 / 3;
    grid-row: 2;
}

.grid-right {
    grid-column: 3 / 4;
    grid-row: 2;
    z-index: 1;
}

.grid-bottom {
    grid-column: 1 / 4;
    grid-row: 3;
}

.grid-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
