
.grid-top {
    grid-column: 1 / 4;
    grid-row: 1;
}

.grid-left {
    grid-column: 1 / 2;
    grid-row: 2;
}

.grid-center {
    grid-column: 2 / 4;
    grid-row: 2;
    z-index: 1;
}

.grid-bottom {
    grid-column: 1 / 4;
    grid-row: 3;
}

.grid-left {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
